body {
    background-color: yellow;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: brown;
    text-align: center;
    background-image: url("img/h1_fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

p {
    font-size: 14px !important;
}

.btnAvancar {
    background-image: url("img/avancar.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 48px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
}

.imgbox {
    display: flex;
}

.imgbox img{
    width: 33%;
    height: auto;
}

.videobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

.videobox iframe {
    width: 600px;
    height: 400px;
}

.videobox h2 {
    text-align: center;
}

.videobox p {
    text-align: justify;
    width: 50%;
}


