body {
    background-color: yellow;
    margin: 0px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: brown;
    text-align: center;
    background-image: url("img/h1_fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

p {
    font-size: 14px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    padding: 35px;
}

.btnAvancar {
    background-image: url("img/avancar.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 48px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
}

.imgbox {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
}

.imgbox img{
    width: 33%;
    height: auto;
}

.videobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

.videobox iframe {
    width: 600px;
    height: 400px;
}

.videobox h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.videobox p {
    text-align: justify;
    width: 50%;
}

.logo {
    overflow: hidden;
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #333;

}

.menu-nv1 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }
  
.menu-nv1 .menu-item {float: left;}
  
.menu-nv1 .menu-item .menu-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-nv1 .menu-item .menu-link:hover:not(.active) {background-color: #111;}
  
  .menu-nv1 .menu-item .menu-link.active {background-color: #4CAF50;}
  
  .menu-nv1 .logo .menu-item.right {float: right;}
  
@media screen and (max-width: 600px) {
    .menu-nv1 .menu-item.right, 
    .menu-nv1 .menu-item {float: none;}
    .logo {display: none;}
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgba(90, 90, 39, 0.548);   
}
footer img {
    align-self: center;
    width: 392px;
}